<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Teko:300,400" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- 不需要將public寫出來，找出所在對應資料夾，檔案路徑 --}}
    <link rel="stylesheet" href="/css/own.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>

    <title>The notes App</title>
</head>

<body>

    {{>header}}
    {{{body}}}



</body>

</html>